### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
#Total Number of Players
total_players = purchase_data ['SN'].nunique()

total_players_df = pd.DataFrame({'Total Players': [total_players]})

total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
#Number of Unique Items
unique_items = len(purchase_data['Item Name'].unique())


#Average Purchase Price
average_price = purchase_data ['Price'].mean()


#Total Number of Purchases
num_purchases = purchase_data ['Purchase ID'].count()


#Total Revenue
revenue = purchase_data ['Price'].sum()



#Summary Table
summary_table = pd.DataFrame({'Number of Unique Items': [unique_items],
                              'Average Price': ['${:,.2f}'.format(average_price)],
                              'Number of Purchases': [num_purchases],
                              'Total Revenue': ['${:,.2f}'.format(revenue)]})
summary_table

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#Unique

total_players = len(purchase_data["SN"].unique())

#Groupby

group_players =purchase_data.groupby('Gender')['SN'].nunique()

#Total Count

purchase_data_ = group_players.to_frame('Total Count')

#Percentage of Players

purchase_data_ ['Percentage of Players'] = round(purchase_data_/total_players*100,2)
purchase_data_

                       Total Count  Percentage of Players
Gender
Female                          81                  14.06
Male                           484                  84.03
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Total Purchase Count

count = purchase_data.groupby('Gender')['Item ID'].count()

#Purchase per Total

value = purchase_data.groupby('Gender')['Price'].sum()
df = count.to_frame('Purchase Count')

#Average

df["Average Purchase Price"] = (value/count).map("${:.2f}".format)

#Total Purchase Value

df["Total Purchase Value"] = value.map("${:.2f}".format)

#Average Total Purchase

df["Avg Total Purchase per Person"] = (value/group_players).map("${:.2f}".format)
df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
#BIns for Ages
bins = [0,9, 14, 19, 24, 29, 34, 39,100]

Ages = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]

#Categorize
purchase_data['Age Group'] = pd.cut(purchase_data["Age"], bins, labels=Ages)

players_count = purchase_data.groupby('Age Group')['SN'].nunique()

pp_df = players_count.to_frame('Total Count').sort_index()

pp_df

           Total Count
Age Group
<10                 17
10-14               22
15-19              107
20-24              258
25-29               77
30-34               52
35-39               31
40+                 12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
#Bin Data by Age
age_df = purchase_data.groupby('Age Group')['Purchase ID'].count().to_frame('Purchase Count').sort_index()

#Avg
age_df['Average Purchase Price'] = purchase_data.groupby('Age Group')['Price'].mean().map("${:.2f}".format)

#Total
total_purchase_value = purchase_data.groupby('Age Group')['Price'].sum()
age_df['Total Purchase Value'] = total_purchase_value.map("${:.2f}".format)

#Avg Total
age_df['Avg Total Purchase per Person'] = (t_p_value/players_count).map("${:.2f}".format)
age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:
#Table
purchase_count=purchase_data.groupby('SN')['Purchase ID'].nunique()

top_spenders_df = purchase_count.to_frame('Purchase Count')


total_spenders_purchase_value = purchase_data.groupby('SN')['Price'].sum()

top_spenders_df['Average Purchase Price'] = (total_spenders_purchase_value/top_spenders_df['Purchase Count']).map("${:.2f}".format)

top_spenders_df['Total Purchase Value'] = total_spenders_purchase_value



#Sort Descending Order
top_spenders_df = top_spenders_df.sort_values(by='Total Purchase Value', ascending=False)

top_spenders_df['Total Purchase Value'] = top_spenders_df['Total Purchase Value'].map("${:.2f}".format)

top_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
#Most_Popular
most_popular_items = purchase_data.filter(['Item ID', 'Item Name','Price'], axis=1)

#GroupBy

item_price = most_popular_items.groupby(['Item ID','Item Name'])['Price'].mean()

purchase_count = most_popular_items.groupby('Item ID')['Item Name'].value_counts()

purchase_value = item_price * purchase_count

#Summary
most_popular_df = purchase_count.to_frame('Purchase Count')

most_popular_df['Item Price'] = item_price.map("${:.2f}".format)

most_popular_df['Total Purchase Value'] = purchase_value

#Sort
most_popular_df1 = m_p_df.sort_values(by="Purchase Count", ascending=False)

most_popluar_df1['Total Purchase Value'] = most_popular_df1['Total Purchase Value'].map("${:.2f}".format)

most_popular_df1.head()

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame